[Logging]
file=authl.log
level=info

[Database]
file=authl.sqlite

[Stoat]

; goon role ID from Stoat
roleID=1234567890
; Stoat server ID
guildID=1234567890
; mod-only botspam channel ID
botspamID=1234567890